





.navigation{
    background-color: tomato;
    color: aliceblue;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
}

.nav-brand{
    font-size: large;
    font-style: oblique;
    font-weight: bold;
}

.nav-pills{
    text-align: right ;
}

.list-in-line{
    list-style: none;
    display: inline;
    padding: 0.5rem;
    font-style: oblique;
}

.link-active {
    font-weight: bold ;
}

.link{
    color: whitesmoke;
    text-decoration: none;
    
}

h1{
    text-align: center;
}

label, input{
    display: block;
    width: 50%;
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 0.5rem;
}

button{
    display: block;
    margin: auto;
    margin-top: 1rem;
}

#output{
    text-align: center;
    margin-top: 1rem;
}