





.navigation{
    background-color: tomato;
    color: aliceblue;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
}

.nav-brand{
    font-size: large;
    font-style: oblique;
    font-weight: bold;
}

.nav-pills{
    text-align: right ;
}

.list-in-line{
    list-style: none;
    display: inline;
    padding: 0.5rem;
    font-style: oblique;
}

.link-active {
    font-weight: bold ;
}

.link{
    color: whitesmoke;
    text-decoration: none;
    
}

.container{
    padding-top: 0.5rem;
}

h1{
    text-align: center;
    padding-top: 2rem;
}

label, input{
    display: block;
    margin: 0.5rem auto;
    text-align: center;

}

button{
    display: block;
    margin: 1rem auto ;
}

h2, h3{
    text-align: center;
}

#output{
    text-align: center;
}