


body{
    font-style: italic;
 }


.navigation{
    background-color: #1a1aff ;
    color: aliceblue;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
}

.nav-brand{
    font-size: large;
    font-style: oblique;
    font-weight: bold;
}

.nav-pills{
    text-align: right ;
}

.list-in-line{
    list-style: none;
    display: inline;
    padding: 0.5rem;
    font-style: oblique;
}

.link-active {
    font-weight: bold ;
}

.link{
    color: whitesmoke;
    text-decoration: none;
    
}

.container{
    padding-top: 0.5rem;
}

h1{
    text-align: center;
    padding-top: 2rem;
}

label, input{
    display: block;
    width: 40%;
    max-width: 300px;
    height: 5vh;
    margin: auto;
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    font-size: large;
    outline: none;
    border-color: #1a1aff;
}

label{
    color: #1a1aff;
}

button{
    display: block;
    margin: auto;
    margin-top: 1rem;
    font-size: medium;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 0.4rem;
    color: whitesmoke;
    background-color: #1a1aff;
    font-style: italic;
}


h2, h3{
    text-align: center;
    color: #1a1aff;
}

#output{
    text-align: center;
    font-size: large;
    color: #1a1aff;
}