



.container{
    padding-top: 0.5rem;
}

h1{
    text-align: center;
    padding-top: 2rem;
}

label, input{
    display: block;
    margin: 0.5rem auto;
    text-align: center;

}

button{
    display: block;
    margin: 1rem auto ;
}

h2, h3{
    text-align: center;
}

#output{
    text-align: center;
}