

body{
    font-style: italic;
 }


.navigation{
    background-color: #1a1aff;
    color: aliceblue;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
}

.nav-brand{
    font-size: large;
    font-style: oblique;
    font-weight: bold;
}

.nav-pills{
    text-align: right ;
}

.list-in-line{
    list-style: none;
    display: inline;
    padding: 0.5rem;
    font-style: oblique;
}

.link-active {
    font-weight: bold ;
}

.link{
    color: whitesmoke;
    text-decoration: none;
    
}

.question-container{
    text-align: center;
}

form{
    text-align: center;
}

h1{
    text-align: center;
    padding-top: 1rem;
}

h3{
    text-align: center;
    padding-top: 1rem;
}

p{
    padding: 0.5rem;
    font-size: large;
}

button{
    margin: auto;
    margin-top: 1rem;
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #1a1aff;
    color: whitesmoke;
    font-style: italic;
}

#output{
    text-align: center;
    margin-top: 1rem;
    font-size: large;
    color: #1a1aff;
}

label{
    margin-left: 1rem;
}
    